.banner {
  background-image: url("../../../../assets/home-banner.png");
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .banner {
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.overlay {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
